build/
dist/
__pycache__/
*.pyc
*.DS_Store
.idea/
.vscode/
*.bak
*.orig
*.egg-info/
*.ipynb
.ipynb_checkpoints/
.cache/
*.log
*.csv
*.html
*.png
*.old
*.json
*.xlsx
*.prof
*.tmp
*.pickle
.env
.python-version
.pdm-python
.aider*
